# IntelliJ files
.idea

# Build files
target
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next

# Automation files
scripts/config.json

# JReleaser files
out/
jreleaser-cli.jar
JRELEASER_VERSION

